@page "/app"
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="app-page">
    <div class="navbar">
        <h1>ToDo App</h1>

        <div class="nav-items">
            <button class="nav-button" type="button">Moje konto</button>
            <button class="nav-button" @onclick="Logout" type="button">Wyloguj</button>
        </div>
    </div>

    <div class="content">
        <p>Tutaj będą kategorie...</p>
    </div>
</div>

@code
{
    private bool isLogged;

    protected override async Task OnInitializedAsync()
    {
        isLogged = await AuthService.IsLoggedAsync();

        if (!isLogged)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }
}